
	<script type="text/javascript" src="/scripts/jquery-3.1.1.js"></script>
	
	<!--Form posting functions	-->
	<?php
	// Start and stop the nodes race status
	if (isset($_POST['startRace'])) 
		{exec("sudo python /home/pi/VTX/startRace.py > /dev/null 2>/dev/null &"); // Doesn't wait for the exec to finish
	}
	if (isset($_POST['stopRace'])) {
		exec("sudo python /home/pi/VTX/stopRace.py");
	}

	// Set group
	if (isset($_POST['setGroup'])) {
		$newGroup = htmlentities($_POST['setGroup']);
		exec("sudo python /home/pi/VTX/stopSystem.py");
		exec("sudo python /home/pi/VTX/setGroup.py ".$newGroup);
		exec("sudo python /home/pi/VTX/startSystem.py > /dev/null 2>/dev/null &"); // Clean start up again main system loop
	}

	// Save laps to database and then clear current laps for next race
	if (isset($_POST['saveLaps'])) {
		exec("sudo python /home/pi/VTX/stopRace.py"); // If saving laps then race is over
		exec("sudo python /home/pi/VTX/saveLaps.py");
		exec("sudo python /home/pi/VTX/clearLaps.py"); // After saving the laps then clear currentLaps
	}

	// Clear laps for false starts and practice
	if (isset($_POST['clearLaps']))	{
		exec("sudo python /home/pi/VTX/clearLaps.py");
	}
	?>
</head>
	

<!--Main content-->
<main class="mdl-layout__content">
<div class="page-content">



<!--Button for controlling the race-->
<div class="delta5-margin">
<form method="post">
	<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" name="startRace">Start Race</button>&nbsp;
	<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" name="stopRace">Stop Race</button>&nbsp;
	<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" name="saveLaps">Save Laps</button>&nbsp;
	<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" name="clearLaps">Clear Laps</button>
</form>
</div>

<!--Race status table-->
<div class="delta5-margin">
<table class="delta5-table mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 140px;">
<tbody>
<tr>
	<td>Race:</td>
	<td>
		<?php if ($status['raceStatus'] == 0) { echo "Stopped"; }
		else { echo "Started"; } ?>
	</td>
</tr>
</tbody>
</table>
</div>

<!--Change current heat-->
<table class="delta5-table mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 140px;">
<tbody>
<tr>
	<td>Group:</td>
	<td>
	<!--Build the drop down selection to change the group-->
	<form method="post">
		<select name="setGroup" onchange="this.form.submit()">
			<!--Get groups list-->
			<?php $results = $conn->query("SELECT DISTINCT `group` FROM `groups` ORDER BY `group` ASC") or die($conn->error());
			$groups = array();
			while ($row = $results->fetch_assoc()) {
				$groups[] = $row;
			} ?>
			<!--Display the current group first-->
			<option value="<?php echo $config['group']; ?>"><?php echo $config['group']; ?></option>
			<!--Build the list of groups-->
			<?php for ($i = 0; $i < count($groups); $i++): ?>
			<option value="<?php echo $groups[$i]['group']; ?>">
				<?php echo $groups[$i]['group']; ?>
			</option>
			<?php endfor; ?>
		</select>
	</form>
	</td>
</tr>
</tbody>
</table>

<!--Display the timing clock-->
<div id="timer">
	<script type="text/javascript">
	$(document).ready(function() { $('#timer').load('buildTimer.php') } );
	</script>
</div>

<!--Display the race leaderboard-->
<h6>Leaderboard</h6>
<div id="leaderboard">
	<script type="text/javascript">
	$(document).ready(function() { setInterval(function() { $('#leaderboard').load('buildLeaderboard.php') }, 2000); } );
	</script>
</div>

<!--Display the current races laps-->
<h6>Laps</h6>
<div id="currentLaps">
	<script type="text/javascript">
	$(document).ready(function() { setInterval(function() { $('#currentLaps').load('buildLapsCurrent.php') }, 1000); } );
	</script>
</div>

</div>
</main>

</div>
</body>

</html>
