{% extends "layout.html" %}
{% block title %}Settings{% endblock %}

{% block head %}
<!-- Script libraries -->
<script type="text/javascript" src="../static/js/lib/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../static/js/lib/socket.io-1.3.5.min.js"></script>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

		socket.on('heartbeat', function(msg) {
			for (i=0; i<msg.length; i++) {
				$('#frequency_' + i).html(msg[i].frequency);
				$('#current_rssi_' + i).html(msg[i].current_rssi);
				$('#trigger_rssi_' + i).html(msg[i].trigger_rssi);
				$('#peak_rssi_' + i).html(msg[i].peak_rssi);
			}
		});

		socket.on('race_status_set', function(msg) {
			$('#race_status').html(msg.race_status);
		});

		$('button#start_race').click(function(event) {
			socket.emit('set_race_status', 1);
			return false;
		});

		$('button#stop_race').click(function(event) {
			socket.emit('set_race_status', 0);
			return false;
		});

		$('button#save_laps').click(function(event) {
			socket.emit('save_laps');
			return false;
		});

		$('button#clear_laps').click(function(event) {
			socket.emit('clear_laps');
			return false;
		});
	});
</script>
{% endblock %}

{% block content %}
<!--Button for controlling the race-->
<div class="delta5-margin">
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" id="start_race">Start Race</button>&nbsp;
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" id="stop_race">Stop Race</button>&nbsp;
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" id="save_laps">Save Laps</button>&nbsp;
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" id="clear_laps">Clear Laps</button>
</div>

<!--Race status table-->
<div class="delta5-margin">
<table class="delta5-table mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 140px;">
<tbody>
<tr>
	<td>Race:</td>
	<td><div id="race_status"></div></td>
</tr>
</tbody>
</table>
</div>

<!--Change current heat-->
<table class="delta5-table mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 140px;">
<tbody>
<tr>
	<td>Group:</td>
	<td>
	<!--Build the drop down selection to change the group-->
	<form method="post">
		<select name="setGroup" onchange="this.form.submit()">
			<!--Get groups list-->
			<?php $results = $conn->query("SELECT DISTINCT `group` FROM `groups` ORDER BY `group` ASC") or die($conn->error());
			$groups = array();
			while ($row = $results->fetch_assoc()) {
				$groups[] = $row;
			} ?>
			<!--Display the current group first-->
			<option value="<?php echo $config['group']; ?>"><?php echo $config['group']; ?></option>
			<!--Build the list of groups-->
			<?php for ($i = 0; $i < count($groups); $i++): ?>
			<option value="<?php echo $groups[$i]['group']; ?>">
				<?php echo $groups[$i]['group']; ?>
			</option>
			<?php endfor; ?>
		</select>
	</form>
	</td>
</tr>
</tbody>
</table>

<!--Display the timing clock-->
<div id="timer">
	<script type="text/javascript">
	$(document).ready(function() { $('#timer').load('buildTimer.php') } );
	</script>
</div>

<!--Display the race leaderboard-->
<h6>Leaderboard</h6>
<div id="leaderboard">
	<script type="text/javascript">
	$(document).ready(function() { setInterval(function() { $('#leaderboard').load('buildLeaderboard.php') }, 2000); } );
	</script>
</div>

<!--Display the current races laps-->
<h6>Laps</h6>
<div id="currentLaps">
	<script type="text/javascript">
	$(document).ready(function() { setInterval(function() { $('#currentLaps').load('buildLapsCurrent.php') }, 1000); } );
	</script>
</div>

{% endblock %}
