 {% extends "layout.html" %} {% block title %}Settings{% endblock %} {% block head %}
<script type="text/javascript" charset="utf-8">
	$(document).ready(function () {
		var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

		function append_to_log(text) {
			$('#log').prepend('<br>' + $('<div/>').text(text).html());
		}

		socket.on('hardware_log', function (msg) {
			append_to_log(msg);
		});

		socket.on('heartbeat', function (msg) {
			for (i = 0; i < msg.current_rssi.length; i++) {
				$('.current_rssi_' + i).html(msg.current_rssi[i]);
			}
		});

		socket.on('node_data', function (msg) {
			for (i = 0; i < msg.frequency.length; i++) {
				// $('.frequency_' + i).html(msg.trigger_rssi[i]); // Not used
				$('.channel_' + i).html(msg.channel[i] + ' ' + msg.frequency[i]);
				$('.trigger_rssi_' + i).html(msg.trigger_rssi[i]);
				$('.peak_rssi_' + i).html(msg.peak_rssi[i]);
			}
		});

		$('.set_frequency li a').click(function (event) {
			var data = {
				node: parseInt($(this).data('node')),
				frequency: parseInt($(this).data('frequency'))
			};
			socket.emit('set_frequency', data);
		})

		$('.set_pilot_position li a').click(function (event) {
			var data = {
				heat: parseInt($(this).data('heat')),
				node: parseInt($(this).data('node')),
				pilot: parseInt($(this).data('pilot'))
			};
			socket.emit('set_pilot_position', data);
		})

		$('button#add_heat').click(function (event) {
			socket.emit('add_heat');
			window.location.href = "/settings"; // Update to not need page reload
			// This isn't getting an updated database I think
			// $( "#heats" ).empty();
			// document.getElementById("heats").innerHTML = // jinja template include
			return false;
		});

		$('button#add_pilot').click(function (event) {
			socket.emit('add_pilot');
			window.location.href = "/settings"; // Update to not need page reload
			// This isn't getting an updated database I think
			// $( "#heats" ).empty();
			// document.getElementById("heats").innerHTML = // jinja template include
			return false;
		});

		$('button#clear_rounds').click(function (event) {
			socket.emit('clear_rounds');
			window.location.href = "/settings"; // Update to not need page reload
			return false;
		});

		$('button#reset_heats').click(function (event) {
			socket.emit('reset_heats');
			window.location.href = "/settings"; // Update to not need page reload
			return false;
		});

		$('button#reset_pilots').click(function (event) {
			socket.emit('reset_pilots');
			window.location.href = "/settings"; // Update to not need page reload
			return false;
		});
	});

</script>
{% endblock %} {% block content %}

<!--Display node data-->
<h4>Node Data</h4>
{% include "build_nodes.html" %}

<!--Heats list for editing-->
<h4>Heats
<button type="button" class="btn btn-default" id="add_heat" onclick="this.blur();">Add Heat</button>
</h4>
<div id="heats">
	{% include "build_heats_edit.html" %}
</div>

<!--Pilots list for editing-->
<h4>Pilots
<button type="button" class="btn btn-default" id="add_pilot" onclick="this.blur();">Add Pilot</button>
</h4>
{% include "build_pilots.html" %}

<!--Clear saved rounds, reset heats, reset pilots-->
<h4>Database Commands</h4>
<!--Look into the consequences of clearing the heat or pilots with many race rounds saved that reference deleted pilots-->
<div>
	<button type="button" class="btn btn-default" id="clear_rounds" onclick="this.blur();">Clear Rounds</button>
	<button type="button" class="btn btn-default" id="reset_heats" onclick="this.blur();">Reset Heats</button>
	<button type="button" class="btn btn-default" id="reset_pilots" onclick="this.blur();">Reset Pilots</button>
</div>

<!--Status messages from the timing system-->
<h4>Hardware Log</h4>
<div id="log"></div>

{% endblock %}